.navbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #e0dfdf;
}

ul,.login {
  display: flex;
  align-items: center;
  gap: 2rem;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form input {
  padding: 10px 15px;
  width: 300px;
  border-radius: 25px;
  outline: none;
  border: 1px solid gray;
}

#message, #sign-in
  {
    font-size: 20px;
    cursor: pointer;
  }
#sign-up {
  padding: 10px 20px;
  border: 1px solid Teal;
  border-radius: 5px;
  cursor: pointer;
}

#sign-up:hover {
  background-color: teal;
  color:#fff;
}